@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'popins', sans-serif;
}

:root{
   --verde-principal: #16a34a;
    --verde-escuro: #0f7a36;
    --fundo: #f3f6f3;
    --branco: #ffffff;
    --texto: #222;
    --sombra: rgba(0, 0, 0, 0.11);
}
 body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fundo);
 }
 #principal{
    background-color: var(--verde-principal);
    padding: 25px 0px;
    text-align: center;
    box-shadow: 0px 2px 8px var(--sombra);
 }
 .controle {
    margin: 0;
    color:var(--branco) ;
    font-size: 20px;
    font-weight: bold;
 }
 main{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(260px,1fr)) ;
    gap:25px ;
    padding:30px;
 }
section{
    background-color: var(--branco);
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}
section:hover{
    transform: translateY(-6px);
    box-shadow: 0px 6px 18px var(--sombra);
}
main>section>h2{
    text-align: center;
    color: var(--verde-escuro);
    font-size: 22px;
    font-weight: bold;
}
ul{
    list-style: none;
    padding: 0px ;
    margin: 0px;
}
li{
    background-color: var(--fundo);
    padding:15px ;
    margin-bottom: 10px;
    border-radius: 5px;
    color: var(--texto);
    font-size: 16px;
    transition: 0.2s;

}
li:hover{
    background: var(--verde-principal);
    color: var(--branco);
    transform: scale(1.03);
}